body {
	background-color: #001e2d;
}
h1 {
	text-align: center;
	color: #00ace6;
	font-family: 'Oleo Script', arial, sans-serif;
}

h2 {
	text-align: center;
	color: #FFC0CB;
	font-family: 'Lobster', sans-serif;
}

h3 {
	text-align: center;
	color: #c5ecff;
	font-family: 'Lobster', sans-serif;
}

p {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Lobster', sans-serif;
}

li {
	text-align: center;
	color: #FFFFFF;
	font-family: 'PT Sans Narrow', sans-serif;
}

#middlesent {
	color:pink;
	font-family: 'Montserrat';
}

#lastsent {
	color:#97ff6d;
	font-family: 'Montserrat';
}