body {
	background-color: #001e2d;
}

h1 {
	text-align: center;
	color: #00FFFF;
	font-family: 'Codystar', arial, sans-serif;
	/*font-weight: bold;*/
}

h2 {
	text-align: center;
	color: #FFC0CB;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	text-align: center;
	color: #c5ecff;
	font-family: 'Montserrat', sans-serif;
}

h4 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

p {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

li {
	text-align: left;
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	/*font-size: 17px;*/
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #00FFFF;
}

#bio {
	text-align: center;
}

#link {
	text-align: center;
	color: white;
	font-size: 175%;
	font-family: 'Pinyon Script', sans-serif;
}

#link:hover {
	color: #00FFFF;
}

#job {
	text-align: center;
}

#uni {
	text-align: center;
}

#major {
    text-align: center;
}

#headshot {
	width: 10%;
	height: 10%;
}